/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #111111;
$backgroundImage: url("../../../../assets/images/background.png");

$mainColor: #eeeeee;
$headingColor: #eeeeee;

$mainFontSize: 26px;
$mainFont: 'Sniglet', cursive;
$headingFont: 'Walter Turncoat', cursive;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: normal;
$linkColor: lighten( #42affa, 30% );
//$linkColor: #42affa;
//$linkColor: #e7ad52;
$linkColorHover: lighten( #42affa, 15% );
$selectionBackgroundColor: lighten( #42affa, 25% );

$heading1Size: 2.0em;
$heading2Size: 1.8em;
$heading3Size: 1.5em;
$heading4Size: 1.0em;

$logoLeftVisibility: hidden; // visible
$slideTitleAlign: left;


// Theme template ------------------------------
@import "../template/sobkowiak-theme";
// ---------------------------------------------
